# python
## python control
- shift
- enter

>comment
  ">comment"

This is python<br> 축약어
- a: 앞에 칸을 만든다
- b: 뒤에 칸을 만든다
- dd: 현재 칸을 삭제한다

In [5]:
n =1
while n<10:
    print(n)
    n = n+1

1
2
3
4
5
6
7
8
9

In [6]:
while 1:
    print('running...')
    break

running...

In [10]:
n = 0
running = True
while running:
    n = n+1
    if n>100:
        running= False

print(n)

101

In [13]:
n=0

while 1:
    n = n +1
    if n**2>56789:
        break
print(n)

239

In [14]:
for i in [1,2,3,4]:
    print(i, i*i, i*i*i)

1 1 1
2 4 8
3 9 27
4 16 64

for i in list

In [16]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
score = [7,3,9,4,7]

In [19]:
for i in score:
    print('점수는', i)

점수는 7
점수는 3
점수는 9
점수는 4
점수는 7

In [20]:
for i in range(5):
    print(score[i])

7
3
9
4
7

In [22]:
for i in range(0,100,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [23]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [24]:
for i in range(1,10):
    for j in range(1,10):
        print(i, '*', j, '=', i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [28]:
# 2차원 표 형태의 데이터 생성
data = []
for i in range(1,10):
    l=[]
    for j in range(1,10):
        l.append(i*j)
    data.append(l)
    
data

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [29]:
# 3차원 데이터 생성
data = []
for i in range(3):
    l=[]
    for j in range(3):
        m=[]
        for k in range(3):
            m.append(i+j+k)
        l.append(m)
    data.append(l)
data

[[[0, 1, 2], [1, 2, 3], [2, 3, 4]],
 [[1, 2, 3], [2, 3, 4], [3, 4, 5]],
 [[2, 3, 4], [3, 4, 5], [4, 5, 6]]]

# 리스트 내포

In [30]:
n=-33
a=1 if n>0 else()
a

()

In [31]:
l=[]
for i in range(10):
    l.append(i*i)
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
l=[i*i for i in range(10)]
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
l=[[i,i*i] for i in range(10)]
l

[[0, 0],
 [1, 1],
 [2, 4],
 [3, 9],
 [4, 16],
 [5, 25],
 [6, 36],
 [7, 49],
 [8, 64],
 [9, 81]]

In [38]:
l=[[i,j, i*j] for i in range(10) for j in range(10)]
l

[[0, 0, 0],
 [0, 1, 0],
 [0, 2, 0],
 [0, 3, 0],
 [0, 4, 0],
 [0, 5, 0],
 [0, 6, 0],
 [0, 7, 0],
 [0, 8, 0],
 [0, 9, 0],
 [1, 0, 0],
 [1, 1, 1],
 [1, 2, 2],
 [1, 3, 3],
 [1, 4, 4],
 [1, 5, 5],
 [1, 6, 6],
 [1, 7, 7],
 [1, 8, 8],
 [1, 9, 9],
 [2, 0, 0],
 [2, 1, 2],
 [2, 2, 4],
 [2, 3, 6],
 [2, 4, 8],
 [2, 5, 10],
 [2, 6, 12],
 [2, 7, 14],
 [2, 8, 16],
 [2, 9, 18],
 [3, 0, 0],
 [3, 1, 3],
 [3, 2, 6],
 [3, 3, 9],
 [3, 4, 12],
 [3, 5, 15],
 [3, 6, 18],
 [3, 7, 21],
 [3, 8, 24],
 [3, 9, 27],
 [4, 0, 0],
 [4, 1, 4],
 [4, 2, 8],
 [4, 3, 12],
 [4, 4, 16],
 [4, 5, 20],
 [4, 6, 24],
 [4, 7, 28],
 [4, 8, 32],
 [4, 9, 36],
 [5, 0, 0],
 [5, 1, 5],
 [5, 2, 10],
 [5, 3, 15],
 [5, 4, 20],
 [5, 5, 25],
 [5, 6, 30],
 [5, 7, 35],
 [5, 8, 40],
 [5, 9, 45],
 [6, 0, 0],
 [6, 1, 6],
 [6, 2, 12],
 [6, 3, 18],
 [6, 4, 24],
 [6, 5, 30],
 [6, 6, 36],
 [6, 7, 42],
 [6, 8, 48],
 [6, 9, 54],
 [7, 0, 0],
 [7, 1, 7],
 [7, 2, 14],
 [7, 3, 21],
 [7, 4, 28],
 [7, 5, 35],
 [7, 6, 42],
 [7, 7, 49],
 [7, 8, 56],
 [7, 9, 63],
 [8, 0, 0],
 [8, 1, 8],
 [8, 2, 16],
 [8, 3, 24],
 [8, 4, 32],
 [8, 5, 40],
 [8, 6, 48],
 [8, 7, 56],
 [8, 8, 64],
 [8, 9, 72],
 [9, 0, 0],
 [9, 1, 9],
 [9, 2, 18],
 [9, 3, 27],
 [9, 4, 36],
 [9, 5, 45],
 [9, 6, 54],
 [9, 7, 63],
 [9, 8, 72],
 [9, 9, 81]]

In [40]:
l=[[i,j, i*j] for i in range(10) for j in range(i+1)]
l

[[0, 0, 0],
 [1, 0, 0],
 [1, 1, 1],
 [2, 0, 0],
 [2, 1, 2],
 [2, 2, 4],
 [3, 0, 0],
 [3, 1, 3],
 [3, 2, 6],
 [3, 3, 9],
 [4, 0, 0],
 [4, 1, 4],
 [4, 2, 8],
 [4, 3, 12],
 [4, 4, 16],
 [5, 0, 0],
 [5, 1, 5],
 [5, 2, 10],
 [5, 3, 15],
 [5, 4, 20],
 [5, 5, 25],
 [6, 0, 0],
 [6, 1, 6],
 [6, 2, 12],
 [6, 3, 18],
 [6, 4, 24],
 [6, 5, 30],
 [6, 6, 36],
 [7, 0, 0],
 [7, 1, 7],
 [7, 2, 14],
 [7, 3, 21],
 [7, 4, 28],
 [7, 5, 35],
 [7, 6, 42],
 [7, 7, 49],
 [8, 0, 0],
 [8, 1, 8],
 [8, 2, 16],
 [8, 3, 24],
 [8, 4, 32],
 [8, 5, 40],
 [8, 6, 48],
 [8, 7, 56],
 [8, 8, 64],
 [9, 0, 0],
 [9, 1, 9],
 [9, 2, 18],
 [9, 3, 27],
 [9, 4, 36],
 [9, 5, 45],
 [9, 6, 54],
 [9, 7, 63],
 [9, 8, 72],
 [9, 9, 81]]

In [39]:
ㅣ=[]
for i in range(10):
    for j in range(10):
        l.append([i,j, i*j])
        
l

[[0, 0, 0],
 [0, 1, 0],
 [0, 2, 0],
 [0, 3, 0],
 [0, 4, 0],
 [0, 5, 0],
 [0, 6, 0],
 [0, 7, 0],
 [0, 8, 0],
 [0, 9, 0],
 [1, 0, 0],
 [1, 1, 1],
 [1, 2, 2],
 [1, 3, 3],
 [1, 4, 4],
 [1, 5, 5],
 [1, 6, 6],
 [1, 7, 7],
 [1, 8, 8],
 [1, 9, 9],
 [2, 0, 0],
 [2, 1, 2],
 [2, 2, 4],
 [2, 3, 6],
 [2, 4, 8],
 [2, 5, 10],
 [2, 6, 12],
 [2, 7, 14],
 [2, 8, 16],
 [2, 9, 18],
 [3, 0, 0],
 [3, 1, 3],
 [3, 2, 6],
 [3, 3, 9],
 [3, 4, 12],
 [3, 5, 15],
 [3, 6, 18],
 [3, 7, 21],
 [3, 8, 24],
 [3, 9, 27],
 [4, 0, 0],
 [4, 1, 4],
 [4, 2, 8],
 [4, 3, 12],
 [4, 4, 16],
 [4, 5, 20],
 [4, 6, 24],
 [4, 7, 28],
 [4, 8, 32],
 [4, 9, 36],
 [5, 0, 0],
 [5, 1, 5],
 [5, 2, 10],
 [5, 3, 15],
 [5, 4, 20],
 [5, 5, 25],
 [5, 6, 30],
 [5, 7, 35],
 [5, 8, 40],
 [5, 9, 45],
 [6, 0, 0],
 [6, 1, 6],
 [6, 2, 12],
 [6, 3, 18],
 [6, 4, 24],
 [6, 5, 30],
 [6, 6, 36],
 [6, 7, 42],
 [6, 8, 48],
 [6, 9, 54],
 [7, 0, 0],
 [7, 1, 7],
 [7, 2, 14],
 [7, 3, 21],
 [7, 4, 28],
 [7, 5, 35],
 [7, 6, 42],
 [7, 7, 49],
 [7, 8, 56],
 [7, 9, 63],
 [8, 0, 0],
 [8, 1, 8],
 [8, 2, 16],
 [8, 3, 24],
 [8, 4, 32],
 [8, 5, 40],
 [8, 6, 48],
 [8, 7, 56],
 [8, 8, 64],
 [8, 9, 72],
 [9, 0, 0],
 [9, 1, 9],
 [9, 2, 18],
 [9, 3, 27],
 [9, 4, 36],
 [9, 5, 45],
 [9, 6, 54],
 [9, 7, 63],
 [9, 8, 72],
 [9, 9, 81],
 [0, 0, 0],
 [0, 1, 0],
 [0, 2, 0],
 [0, 3, 0],
 [0, 4, 0],
 [0, 5, 0],
 [0, 6, 0],
 [0, 7, 0],
 [0, 8, 0],
 [0, 9, 0],
 [1, 0, 0],
 [1, 1, 1],
 [1, 2, 2],
 [1, 3, 3],
 [1, 4, 4],
 [1, 5, 5],
 [1, 6, 6],
 [1, 7, 7],
 [1, 8, 8],
 [1, 9, 9],
 [2, 0, 0],
 [2, 1, 2],
 [2, 2, 4],
 [2, 3, 6],
 [2, 4, 8],
 [2, 5, 10],
 [2, 6, 12],
 [2, 7, 14],
 [2, 8, 16],
 [2, 9, 18],
 [3, 0, 0],
 [3, 1, 3],
 [3, 2, 6],
 [3, 3, 9],
 [3, 4, 12],
 [3, 5, 15],
 [3, 6, 18],
 [3, 7, 21],
 [3, 8, 24],
 [3, 9, 27],
 [4, 0, 0],
 [4, 1, 4],
 [4, 2, 8],
 [4, 3, 12],
 [4, 4, 16],
 [4, 5, 20],
 [4, 6, 24],
 [4, 7, 28],
 [4, 8, 32],
 [4, 9, 36],
 [5, 0, 0],
 [5, 1, 5],
 [5, 2, 10],
 [5, 3, 15],
 [5, 4, 20],
 [5, 5, 25],
 [5, 6, 30],
 [5, 7, 35],
 [5, 8, 40],
 [5, 9, 45],
 [6, 0, 0],
 [6, 1, 6],
 [6, 2, 12],
 [6, 3, 18],
 [6, 4, 24],
 [6, 5, 30],
 [6, 6, 36],
 [6, 7, 42],
 [6, 8, 48],
 [6, 9, 54],
 [7, 0, 0],
 [7, 1, 7],
 [7, 2, 14],
 [7, 3, 21],
 [7, 4, 28],
 [7, 5, 35],
 [7, 6, 42],
 [7, 7, 49],
 [7, 8, 56],
 [7, 9, 63],
 [8, 0, 0],
 [8, 1, 8],
 [8, 2, 16],
 [8, 3, 24],
 [8, 4, 32],
 [8, 5, 40],
 [8, 6, 48],
 [8, 7, 56],
 [8, 8, 64],
 [8, 9, 72],
 [9, 0, 0],
 [9, 1, 9],
 [9, 2, 18],
 [9, 3, 27],
 [9, 4, 36],
 [9, 5, 45],
 [9, 6, 54],
 [9, 7, 63],
 [9, 8, 72],
 [9, 9, 81]]

In [41]:
# [[1,2,3],[2,3,4],[3,4,5]]

l=[ [i+j for j in range(3)]for i in range(1,4)]
l

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [43]:
# [[1,2,3],[4,5,6],[7,8,9]]

l=[[i+j for j in range(3)]for i in [1,4,7]]
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [46]:
l2 = [[i*3+j+1 for j in range(3)] for i in range(3)]
l2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [51]:
l=[i for i in range(10) if i%2==1]
l

[1, 3, 5, 7, 9]

In [50]:
l=[i for i in range(-10,10) if abs(i)>5]
l

[-10, -9, -8, -7, -6, 6, 7, 8, 9]

In [52]:
l2 = [j for j in range(1,10,2)]
l2

[1, 3, 5, 7, 9]

In [ ]:
소수 = [2]

for n in range(3,10000):
    found = False
    for i in 소수:
        if n%i==0:
            found=True
            break
        if found==False:
            소수.append(n)
소수